@font-face {
  font-family: "Iosevka Custom";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("IosevkaCustom-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("IosevkaCustom-Italic.woff2") format("woff2");
}
