<nav class="mb-10">
  <ul class="container mx-auto flex flex-row flex-nowrap items-stretch">
    <li>
      {% capture home_url %}/{{ site.baseurl }}{% endcapture %}
      {% include nav_link.html url=home_url label="michalwa" %}
    </li>
    <li class="mr-auto text-dim">
      {% include nav_link.html url="/posts" label="posts" %}
    </li>
    {% for link in site.data.contact_links %}
      <li>
        {% include nav_link.html url=link.url icon=link.icon label=link.label target="_blank" %}
      </li>
    {% endfor %}
  </ul>
</nav>
