@font-face {
  font-family: 'Iosevka Custom Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('/assets/woff2/iosevka-custom-regular.woff2') format('woff2');
}
