.markdown-content {
  h1 {
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 24pt;
    margin-bottom: 1em;
  }

  p,
  li {
    line-height: var(--line-height-prose);
    margin-block: 0.5em;

    a {
      color: var(--theme-markdown-link-foreground);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  strong {
    font-weight: var(--font-weight-bold);
  }

  code {
    font-family: var(--font-monospace);
    font-weight: var(--font-weight-monospace);
    color: var(--theme-markdown-code-foreground);
    margin-inline: 0.1em;
  }

  pre {
    line-height: var(--line-height-monospace);
    padding-left: 1rem;
    overflow-x: auto;

    > code {
      margin-inline: 0;
      color: inherit;
    }

    &.highlight {
      .k,
      .kd,
      .kr,
      .kt,
      .nb {
        color: var(--theme-syntax-highlight-1);
      }

      .ss,
      .nf,
      .na {
        color: var(--theme-syntax-highlight-2);
      }

      .nv {
        color: var(--theme-syntax-highlight-3);
      }

      .c1,
      .cm {
        color: var(--theme-syntax-highlight-comment);
      }

      .p {
        color: var(--theme-syntax-highlight-punctuation);
      }

      .m,
      .mi,
      .s2,
      .sx {
        color: var(--theme-syntax-highlight-4);
      }
    }
  }

  p:has(> img) {
    text-align: center;
    margin-block: 1rem;
  }

  img {
    max-width: min(80ch, 100%);
  }

  .footnotes {
    border-top: var(--theme-border);
    margin-top: 3rem;

    > ol {
      padding-left: 4ch;

      &:has(:target) > li:not(:target) {
        opacity: 0.6;
      }
    }
  }

  ol,
  ul {
    padding-inline-start: 2.5rem;
  }

  blockquote {
    font-style: italic;
    border-left: var(--theme-border);
    margin-left: 1.5rem;
    padding-left: 1rem;
  }

  sup {
    font-size: 0.8em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;

    > .footnote {
      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }
    }
  }
}

.heading-anchor {
  font-family: var(--font-serif);
  color: var(--theme-nav-link-foreground);
  opacity: 0;
  transition: opacity 0.1s;
}

:hover > .heading-anchor {
  opacity: 1;
}
