$rich-black-fogra-39: #0f1014ff;
$rich-black-fogra-29: #111216ff;
$eerie-black: #131317ff;
$eerie-black-2: #121216ff;
$eerie-black-3: #1a1b1fff;
$raisin-black: #1f1f24ff;
$dark-liver: #43444dff;
$davys-grey: #575861ff;
$roman-silver: #868690ff;
$manatee: #9898a6ff;
$french-sky-blue: #8eb6f5ff;
$bright-lilac: #c58fffff;
$violet-web: #f58ee0ff;
$macaroni-and-cheese: #ffbb88ff;
$white: #fdfdfeff;
