---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="application-name" content="{{ site.title }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author }}" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ site.title }}"
      href="{{ "/feed.xml" | absolute_url }}"
    />
    <link
      rel="alternate"
      type="application/json"
      title="{{ site.title }}"
      href="{{ "/feed.json" | absolute_url }}"
    />
    <title>{{ page.title }} &mdash; {{ site.data.info.title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css"
      integrity="sha512-t7Few9xlddEmgd3oKZQahkNI4dS6l80+eGEzFQiqtyVYdvcSG2D3Iub77R20BdotfRPA9caaRkg1tyaJiPmO0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <header class="nav-container">
      <nav>
        <a href="/">{{ site.data.info.title }}</a>
        <div class="nav__buttons">
          <a
            href="/feed.json"
            class="icon-button"
            aria-label="JSON feed"
            title="JSON feed"
          >
            <i class="bi bi-braces"></i>
          </a>
          <a
            href="/feed.xml"
            class="icon-button"
            aria-label="Atom feed"
            title="Atom feed"
          >
            <i class="bi bi-rss"></i>
          </a>
          <button
            type="button"
            class="icon-button"
            onclick="toggleTheme()"
            title="Toggle theme"
          >
            <i class="bi bi-moon-fill theme-switcher-dark"></i>
            <i class="bi bi-sun-fill theme-switcher-light"></i>
          </button>
        </div>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
      <div class="footer__content">{{ site.data.info.copyright }}</div>
    </footer>

    <svg width="0" height="0" style="position: absolute">
      <filter id="noise-texture">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0.6"
          numOctaves="2"
          seed="0"
          stitchTiles="stitch"
        />
        <feColorMatrix type="saturate" values="0" />
        <feComponentTransfer>
          <feFuncA type="discrete" tableValues="0 0.5" />
        </feComponentTransfer>
        <feBlend mode="overlay" in="SourceGraphic" />
      </filter>
    </svg>
    <script src="/assets/js/theme.js"></script>
  </body>
</html>
