---
layout: default
---

<hgroup class="display">
  <p class="display__handle">{{ page.handle }}</p>
  <h1 class="display__full-name">{{ page.full_name }}</h1>
  <ul class="display__links">
    {% for link in page.links %}
      <li>
        <a href="{{ link.url }}" target="_blank" aria-label="{{ link.label }}">
          <i class="bi bi-{{ link.icon }}"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="display__message">{{ content }}</div>
</hgroup>
<section id="blog">
  <div class="columns">
    <div class="post-previews">
      <h2 class="section__header">Posts</h2>
      {% for post in site.posts %}
        <article class="post-preview">
          <time class="post-preview__date" datetime="{{ post.date }}">
            {{ post.date | date_to_long_string: "ordinal", "US" }}
          </time>
          <h3 class="post-preview__title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h3>
        </article>
      {% endfor %}
    </div>
    <div class="projects">
      <h2 class="section__header">Projects</h2>
      {% for project in site.projects %}
        <article class="project-preview">
          <header class="project-preview__header">
            <h3 class="project-preview__title">{{ project.name }}</h3>
            <ul class="project-preview__links">
              {% for link in project.links %}
                <li>
                  <a href="{{ link.url }}" target="_blank" aria-label="{{ link.label }}">
                    <i class="bi bi-{{ link.icon }}"></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </header>
          <div class="project-preview__description">
            {{ project.content }}
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
